.form_container {
    background-color: rgb(232, 231, 231);
    width: 25rem;
    height: 15rem;
    border-radius: 9px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
};

label {
    padding: 1px;
};